<li class="usa-sidenav__item">
    <a href="{{ site.howItWorksPath }}getting-started/" {% if title == "Getting started" %} class="usa-current"
    {% endif %}>Getting started</a>
</li>
<li class="usa-sidenav__item">
    <a href="{{ site.howItWorksPath }}elr-onboarding-checklist/" {% if title == "ELR onboarding checklist" %} class="usa-current"
        {% endif %}>ELR onboarding checklist</a>
</li>
<li class="usa-sidenav__item">
    <a href="{{ site.howItWorksPath }}data-download-website-guide/" {% if title == "Data download website guide" %} class="usa-current"
        {% endif %}>Data download website guide</a>
</li>
<li class="usa-sidenav__item">
    <a href="{{ site.howItWorksPath }}where-were-live/" {% if title == "Where we're live" %}
    class="usa-current" {% endif %}>Where we're live</a>
</li>
<li class="usa-sidenav__item">
    <a href="{{ site.howItWorksPath }}system-and-settings/" {% if title == "System and settings" %}
    class="usa-current" {% endif %}>System and settings</a>
</li>
<li class="usa-sidenav__item">
    <a href="{{ site.howItWorksPath }}security-practices/" {% if title == "Security practices" %} class="usa-current"
    {% endif %}>Security practices</a>
</li>