<section class="grid-container margin-bottom-5">
  <div class="grid-row grid-gap">
    <div class="tablet:grid-col-3">
      <nav aria-label="Secondary navigation" class="margin-bottom-6">
        <ul class="usa-sidenav">
          <li class="usa-sidenav__item">
            <a href="{{ site.documentationPath }}" {% if current == "about us" %} class="usa-current"
              {% endif %}>About</a>
          </li>
          <li class="usa-sidenav__item">
            <a href="{{ site.documentationPath }}elr-integration-guide/" {% if current == "elr guide" %}
              class="usa-current" {% endif %}>ELR integration guide</a>
          </li>
          <li class="usa-sidenav__item">
            <a href="{{ site.documentationPath }}web-receiver-guide/" {% if current == "web receiver guide" %}
              class="usa-current" {% endif %}>Web receiver guide</a>
          </li>
          <li class="usa-sidenav__item">
            <a href="{{ site.documentationPath }}security-practices/" {% if current == "security practices" %}
              class="usa-current" {% endif %}>Security practices</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="tablet:grid-col-9 usa-prose rs-documentation">
      {{ content }}
    </div>
  </div>
</section>
