---
permalink: "{{ page.filePathStem }}.html" # prefer named files, not blog-like permalinks
cdn_styles:
  - href: "https://global.oktacdn.com/okta-signin-widget/5.2.1/css/okta-sign-in.min.css"
    integrity: "sha384-NHrrVHQI7Uja/X0/0SMVLSk+nFzWI8AwBi1LqSOu7PogLHanNl0fOq1tTdvgb9C7"
  - href: "https://cdnjs.cloudflare.com/ajax/libs/uswds/2.10.0/css/uswds.min.css"
    integrity: "sha512-sL+HPuomAmkkQJsmqQN6RDNe926lTzNBQbRsEMq1dnGU1zI8Qke2pab7A5+kRr3nmYxuONtFhicbS5Y2uNkZWQ==" 

cdn_scripts:
  - src: "https://global.oktacdn.com/okta-signin-widget/5.2.1/js/okta-sign-in.min.js"
    integrity: "sha384-pVjuWLMDJj0Bp6nDaWi8nJtFz+GfVP3hxebF4f6z81KDsRK/+DfCoLK/6ZjHWaoh"
  - src: "https://cdnjs.cloudflare.com/ajax/libs/uswds/2.10.0/js/uswds-init.min.js"
    integrity: "sha512-Zy/dqU71uCdMWS6VdSqc/+2RjOxbq/ySinrQyLG3wTVWSXtBQpK6/b2Ky6vT2JHuFsNm8yBZMJ8zeMQ/ji2qMA=="
  - src: "https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"

post_scripts:
  - src: "https://cdnjs.cloudflare.com/ajax/libs/uswds/2.10.0/js/uswds.min.js"
    integrity: "sha512-ohEb4+2we68Bx+r0bzmujZwPVxjs+cD0lRykggDCj36aoqO9Tex8TaNO3gzBr8re+MVbbF5Av/d7VDQxUe+zlw=="
local_styles:
  - "./css/prime.css"
  
data-index: "../data-index.html"
current: "profile"
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="Cache-Control" content="no-store" />

  <script>
    let jwt = window.sessionStorage.getItem("jwt");
    if( !jwt )
      window.location.replace( `http://localhost:8090/login.html?return=data-index.html`);
  </script>

  <title>CDC PRIME ReportStream</title>

  <meta name="robots" content="none" />

  {% for entry in cdn_styles %}
    <link rel="stylesheet" type="text/css" href="{{entry.href}}" integrity="{{entry.integrity}}" crossorigin="anonymous"/>
  {% endfor %}

  {% for entry in local_styles %}
    <link rel="stylesheet" type="text/css" href="{{entry | url}}" />
  {% endfor %}

  {% for entry in cdn_scripts %}
    <script src="{{entry.src}}" integrity="{{entry.integrity}}" crossorigin="anonymous"></script>
  {% endfor %}
</head>

<body>

{% include gov_header %}
{% include navbar %}
<main>
<section class="grid-container margin-bottom-5">
  <h3 class="margin-bottom-0">
    <span class="text-gray-30">Pima County, AZ</span>
  </h3>
  <h1 class="margin-top-0 margin-bottom-0">
    <p class="margin-top-0 margin-bottom-0">Settings</p>
  </h1>
</section>

<section class="grid-container margin-bottom-5">
  <div class="grid-row grid-gap">
    <div class="tablet:grid-col-4">
      <nav aria-label="Secondary navigation">
        <ul class="usa-sidenav">          
          <li class="usa-sidenav__item">
          {% if current == "profile" %}
          <a href="./profile.html" class="usa-current">
          {% else %}
          <a href="./profile.html">
          {% endif %}
          Profile</a>
          </li>
          <li class="usa-sidenav__item">
          {% if current == "organization" %}
            <a href="./organization.html" class="usa-current">
          {% else %}  
            <a href="./organization.html">
          {%endif%}
            Organization</a>
          </li>
          <li class="usa-sidenav__item">
          {% if current == "delivery" %}
            <a href="./delivery.html" class="usa-current">
          {%else%}
            <a href="./delivery.html">
          {%endif%}
          Delivery</a>
          </li>
          <li class="usa-sidenav__item">
          {% if current == "schema" %}
            <a href="./schema.html" class="usa-current">
          {%else%}
            <a href="./schema.html">
          {%endif%}
          Schema</a>
          </li>
          <li class="usa-sidenav__item">
          {% if current == "facilities" %}
            <a href="./facilities.html" class="usa-current">
          {%else%}
            <a href="./facilities.html">
          {%endif%}
          Facilities</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="tablet:grid-col-4">
    {{ content }}
    </div>
  </div>
</section>
  
</main> 

<section>
  {% include identifier %}
</section>

  {% for entry in post_scripts %}
    <script src="{{entry.src}}" integrity="{{entry.integrity}}" crossorigin="anonymous"></script>
  {% endfor %}

</body>

</html>